trigger:
  branches:
    include:
      - main

stages:
- stage: Build
  displayName: 'Build IoT Edge Modules'
  jobs:
  - job: Job1
    displayName: 'Build and Push Docker Image'
    pool:
      vmImage: 'ubuntu-22.04'
    steps:
    - script: |
        cd ./modules/$(MODULE_NAME)
        dotnet publish --os linux --arch x64 /t:PublishContainer
      displayName: 'Building Docker Image'

    - script: |
        docker login -u $(CONTAINER_REGISTRY_USERNAME) -p $(CONTAINER_REGISTRY_PASSWORD) $(CONTAINER_REGISTRY_ADDRESS)
        docker tag $(MODULE_NAME) $(CONTAINER_REGISTRY_ADDRESS)/$(MODULE_NAME):$(MODULE_VERSION)
        docker push $(CONTAINER_REGISTRY_ADDRESS)/$(MODULE_NAME):$(MODULE_VERSION)
      displayName: 'Pushing Docker Image'

- stage: Release
  displayName: 'Deploy to IoT Edge'
  dependsOn: Build
  jobs:
  - job: Job2
    displayName: 'Generate and Deploy Manifest'
    pool:
      vmImage: 'ubuntu-22.04'
    steps:
      - script: |
          sudo apt install software-properties-common
          sudo add-apt-repository ppa:deadsnakes/ppa
          sudo apt install python3.9
          sudo apt install python3.9-distutils
          curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
          python3.9 get-pip.py
          python3.9 -m pip install -U iotedgedev pyOpenSSL==22.0.0 urllib3==1.22 requests
        displayName: 'Command Line Script'
  
      - task: AzureIoTEdge@2
        displayName: 'Generate Deployment Manifest'
        inputs:
          action: 'Generate deployment manifest'
          templateFilePath: 'deployment.template.json'
          defaultPlatform: 'amd64'
          deploymentManifestOutputPath: '$(System.DefaultWorkingDirectory)/config/deployment.json'
          validateGeneratedDeploymentManifest: 'true'

      - task: AzureIoTEdge@2
        displayName: 'Deploy to IoT Edge Devices'
        inputs:
          action: 'Deploy to IoT Edge devices'
          deploymentFilePath: '$(System.DefaultWorkingDirectory)/config/deployment.json'
          azureSubscription: 'AzureDevEdgePrpyecto'
          iothubname: 'IoTEdgeResourcesPrClase'
          deploymentid: '$(System.TeamProject)-devops-deployment'
          priority: '0'
          deviceOption: 'Single Device'
          deviceId: 'edgedeviceidentityprclase1'